<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Find a Flight!</title>
	<link href="css/app.css" rel="stylesheet">
</head>
<body>

<form>
	<fieldset>
		<legend>Find a Flight</legend>

		<div>
			<label for="from-airport">From:</label>
			<input id="from-airport" autocomplete="off" value="DTW" required>
		</div>
		<div>
			<label for="to-airport">To:</label>
			<input id="to-airport" autocomplete="off" value="ATL" required>
		</div>
		<div>
			<label for="date">Date:</label>
			<input type="date" id="date" placeholder="yyyy-mm-dd" value="2014-03-02" required>
		</div>
		<div>
			<label for="results">Max # of Results:</label>
			<input type="number" id="results" value="10" min="10" max="100" step="10">
		</div>
		<div>
			<label>Hops:</label>
			<div id="hops">
				<label for="hops-any">Any</label>
				<input type="radio" name="hops" id="hops-any" value="" checked>
				<label for="hops-nonstop">Nonstop Only</label>
				<input type="radio" name="hops" id="hops-nonstop" value="NONSTOP">
			</div>
		</div>
		<div>
			<label for="order-by">Order By:</label>
			<select id="order-by">
				<option value="0">Arrival Time</option>
				<option value="1">Departure Time</option>
				<option value="2">Duration</option>
			</select>
		</div>
		<div>
			<button id="lookup" class="ui-priority-primary">Lookup</button>
		</div>
	</fieldset>
</form>

<div id="flights-container"></div>

<script type="text/html" id="flights-template">
	<% if ( flights.length === 0 ) { %>
		<p>There were no flights found that matched your selections.</p>
	<% } else { %>
		<table id="flights">
			<caption>
				Showing all trips from <%- flights[ 0 ].from %> to <%- flights[ 0 ].to %> 
				on <%- flights[ 0 ].departureDate %>. 
				<span>(<%- flights.length %> result<%- flights.length === 1 ? "" : "s" %> found)</span>
			</caption>
			<thead class="ui-widget-header">
				<th>Departure</th>
				<th>Arrival</th>
				<th>Duration</th>
				<th>Flights</th>
				<th>Flight Numbers</th>
			</thead>
			<tbody>
				<% _.each( flights, function( flight ) { %>
					<tr>
						<td><%- flight.departureTime %></td>
						<td><%- flight.arrivalTime %></td>
						<td><%- flight.duration %></td>
						<td><%- flight.flights %></td>
						<td><%- flight.flightNumbers %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	<% } %>
</script>

<script src="js/require.js" data-main="js/app"></script>

</body>
</html>